################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lessons/bin
/Lessons/obj/Debug
*.suo
*.user
