################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lessons/bin
/Lessons/app.js.map
/Lessons/app.js
/Lessons/obj/Debug
*.suo
*.user

