<!DOCTYPE html>
<html ng-app="demoApp">

<head>
  <title>Lesson</title>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body ng-controller="demoController">

  <div class="alert alert-info">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <p>Here we add some additional logic to the controller to enable a master/detail view with create, update, and delete operations.</p>
  </div>

  <div class="well" ng-hide="showDetail">
    Sort
    <button class="btn btn-default" ng-click="sortButtonClick('name')">
      Name
      <span ng-show="sortField=='name'">{{(sortAscending)?'+':'-'}}</span>
    </button>
    <button class="btn btn-default" ng-click="sortButtonClick('age')">
      Age
      <span ng-show="sortField=='age'">{{(sortAscending)?'+':'-'}}</span>
    </button>
    Search
    <input type="text" class="btn" ng-model="filterText" placeholder="" />
    Add<button class="btn btn-default" ng-click="addButtonClick()">New</button>
  </div>

  <div class="container" ng-hide="showDetail">
    <div ng-container class="row">
      <div ng-repeat="person in people | filter:filterText | orderBy:sort">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="panel panel-default" ng-click="editPerson(person)">
            <div class="panel-heading">{{ person.name }}</div>
            <div class="panel-body">Age: {{ person.age }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" ng-show="showDetail">
    <input type="text" class="form-control" ng-model="detailPerson.name" placeholder="Name" />
    <input type="text" class="form-control" ng-model="detailPerson.age" placeholder="Age" />
    <button class="btn" ng-show="detailPerson.id == null" ng-click="addPerson(detailPerson)">Add</button>
    <button class="btn" ng-show="detailPerson.id != null" ng-click="updatePerson(detailPerson)">Update</button>
    <button class="btn" ng-show="detailPerson.id != null" ng-click="deletePerson(detailPerson)">Delete</button>
    <button class="btn" ng-click="cancelDetail()">Cancel</button>
  </div>

  <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>

  <script>
    var app = angular.module('demoApp', []);
    app.controller('demoController', function ($scope) {
      $scope.people = [{
        'name': 'Chris',
        'age': 10,
        'id': 0
      }, {
        'name': 'Alex',
        'age': 13,
        'id': 1
      }, {
        'name': 'Ryan',
        'age': 11,
        'id': 2
      }, {
        'name': 'Sam',
        'age': 12,
        'id': 3
      }, {
        'name': 'Kelly',
        'age': 11,
        'id': 4
      }];

      $scope.people._idGenerator = $scope.people.length;

      // sort, sortField, sortAscending, sortButtonClick(field)
      $scope.$watch('sortField', function () {
        $scope.sortAscending = true;
      });
      $scope.$watch('sortField+sortAscending', function () {
        $scope.sort = (($scope.sortAscending) ? "+" : "-") + $scope.sortField;
      });

      $scope.sortField = "name";

      $scope.sortButtonClick = function (field) {
        $scope.sortField = field;
        $scope.sortAscending = !$scope.sortAscending;
      };

      // showDetail, detailPerson, editPerson(person)
      $scope.addButtonClick = function () { $scope.detailPerson = {}; $scope.showDetail = true; };
      $scope.editPerson = function (person) { $scope.detailPerson = JSON.parse(JSON.stringify(person)); $scope.showDetail = true; };
      $scope.addPerson = function (person) {
        person.id = $scope.people._idGenerator++;
        $scope.people.push(person);
        $scope.cancelDetail();
      };
      $scope.deletePerson = function (person) {
        for (var i = 0; i < $scope.people.length; i++) {
          if ($scope.people[i].id == person.id) { $scope.people.splice(i, 1); break; }
        }
        $scope.cancelDetail();
      };
      $scope.updatePerson = function (person) {
        for (var i = 0; i < $scope.people.length; i++) {
          if ($scope.people[i].id == person.id) {
            $scope.people[i] = person;
            break;
          }
        }
        $scope.cancelDetail();
      };
      $scope.cancelDetail = function () { $scope.detailPerson = {}; $scope.showDetail = null; };
    });
  </script>
</body>
</html>
